*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', sans-serif;
    color: #333;
    background-color:  #e0e0e0;
}

#main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;

}

main p {
    line-height: 1.5;
    padding: 15px 0;
    font-size: 1em;
    color: #333;
}

h1{
    font-family:'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
}

h2, h3 {
    background-color:  #FFD700;; ;
    color: #051022;
    padding: 13px;
    border-radius: 5px;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 2em;
    font-family: Kings, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    background-color:#FFD700;;
}

#name {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: #565c07;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    background-color:#fff;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
}

.card{
    box-shadow: 0 2px 8px #000000;
    padding: 15px;
    border-radius: 8px;
    background-color: #FFF8DC;
}

.card li{
    margin-left: 10px;
    padding: 10px;
}

#about {
    padding: 20px;
    margin: 10px;
    text-align: left;
}

#about img{
    width: 150px;
    height: auto;
    float: right;
    margin: 10px;
    border-radius: 8px;

}

#ghana {
    clear: both;
    padding: 30px 20px;
    text-align: right;
}

#ghana img{
    
    width: 250px;
    height: auto;
    margin: 20px;
    border-radius: 8px;
}

#ghana figure {
    text-align: center;
    font-style:italic;
    float: left;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

.resources h2 {
    margin-bottom: 20px;
}

.resources ul {
    list-style:square;
    padding: 10px;
}
    

.resources a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: larger;
    color: #000;
}

.resources a:hover {
    color: #ff0000;
}